#about-us {
    padding: 0 96px;
    padding-top: 12px;
}

#about-us .text {
    justify-content: center;
}

#about-us .text > :not(:last-child) {
    margin-bottom: 24px;
}

#about-us #ladies {
    width: 700px;
}

#about-us #vector {
	position: absolute;
	z-index: -1;
	right: 0;
}

#about-us .socials {
	justify-content: center;
}

#about-us .socials img {
    filter: invert(100%);
}
