footer {
    align-items: center;
}

footer a:hover {
    text-decoration: underline;
}

footer .logo {
    display: flex;
    justify-content: center;
}

footer .logo > img {
    height: 128px;
}

footer .section > *:first-child {
    padding-bottom: 24px;
}

footer .subscription {
    position: relative;
}

footer .subscription .input {
    border-radius: 100px;
    width: 600px;
}

footer .subscription .button {
    position: absolute;
    right: 0;
    top: 0;
    padding: 0 48px;
}

footer .socials {
    justify-content: center;
}

footer .socials img {
    filter: invert(100%);
}
