.footer {
	background-color: var(--primary);

	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 48px;

	padding: 48px 96px;
}

.footer a {
	color: var(--on-primary);
	text-decoration: none;
}

.footer a:hover {
	text-decoration: underline;
}

.footer .logo {
	display: flex;
	justify-content: center;
}

.footer .logo > img {
	height: 128px;
}

.footer .links {
	display: flex;
	flex-direction: row;
	gap: 48px;
}

.footer .section {
	display: flex;
	flex-direction: column;
}

.footer .section > *:first-child {
	padding-bottom: 24px;
}

.footer .subscription {
	position: relative;
}

.footer .subscription .input {
	border-radius: 100px;
	width: 600px;
}

.footer .subscription .button {
	position: absolute;
	right: 0;
	padding: 0 48px;
}

.footer .socials {
	flex-direction: row;
	justify-content: center;
	gap: 24px;
}

.footer .socials img {
	filter: invert(100%);
}