#landing {
	padding: 0;
    padding-top: 48px;
    padding-left: 96px;
}

#landing .text {
	justify-content: center;
}

#landing .text .button {
    width: 200px;
}

#landing .circle {
	border-radius: 100%;
}

#landing .graphics {
    overflow: hidden;
	justify-content: center;
}

#landing .graphics .section {
	position: relative;
	justify-content: space-around;
	align-items: end;

    width: fit-content;
}

#landing .graphics .section :,
#landing .graphics .section :last-child {
	/* margin-left: 24px; */
}

#landing .graphics .section img {
    width: 160px;
    height: 160px;
}

#landing .section.circles .small {
	width: 48px;
	height: 48px;
}

#landing .section.circles .medium {
	width: 96px;
	height: 96px;
}

#landing .graphics .big-circle {
	position: absolute;
	width: 1000px;
	height: 1000px;
	left: 50%;

	border-width: 4px;
	z-index: -1;
}

#landing .graphics .big-img {
	position: absolute;
	max-width: 100%;
	max-height: 100%;
	transform: rotate(90deg);
	align-self: center;
	right: -50%;
}
