#landing {
	padding: 48px 96px;
	padding-right: 0;

	height: calc(100vh - 128px);
}

#landing .text {
	justify-content: center;
}

#landing .text .button {
    width: 200px;
}

#landing .circle {
	border-radius: 100%;
}

#landing .graphics {
	position: relative;
    overflow: hidden;
	flex-grow: 1;
}

#landing .graphics .section {
	justify-content: space-around;
	align-items: center;

    width: fit-content;
}

#landing .graphics .section .offset {
	margin-right: -135px;
}

#landing .graphics .section img {
    width: 160px;
    height: 160px;
}

#landing .graphics .fixed {
	margin-left: 24px;
	width: 700px;
	position: relative;
}

#landing .section.circles .small {
	width: 48px;
	height: 48px;
}

#landing .section.circles .medium {
	width: 96px;
	height: 96px;
}

#landing .graphics .big-circle {
	position: absolute;
	width: 1000px;
	height: 1000px;

	align-self: center;
	left: 52px;

	border-width: 4px;
	z-index: -1;
}

#landing .graphics .big-img {
	height: 100%;
	position: absolute;
	align-self: center;
	left: 110px;
}
