.button {
    height: 60px;
    padding: 0 12px;

    border-radius: 100px;
    border: none;

    background-color: unset;

    display: flex;
    justify-content: center;
    align-items: center;
}

.button:hover {
    cursor: pointer;
}
