.page-selector {
    display: flex;
    flex-direction: row;
	gap: 10px;

	align-items: center;
	justify-content: center;
}

.page-selector .dot {
    width: 20px;
    height: 20px;

    border-radius: 100%;

	transition: background-color .2s;
    background-color: var(--gray);
}

.page-selector .dot.selected {
    background-color: var(--accent);
}

.page-selector .dot:not(.selected):hover {
	cursor: pointer;
	transition: background-color .2s;
    background-color: var(--accent);
}

.page-selector span {
	transition: color .2s;
	font-size: 48px;
	color: var(--gray);
	user-select: none;
}

.page-selector span:hover {
	cursor: pointer;
	transition: color .2s;
	color: var(--on-primary);
}
