:root {
    --primary: #c3efae;
	--primary-50: #c3efae7f;
	--on-primary: #000;
	--secondary: #EFAED0;
	--accent: #88A77A;
	--gray: #bababa;
}

.primary-border {
	border: 2px solid var(--primary);
}

.primary-50-border {
	border: 2px solid var(--primary-50);
}

.primary-bg {
	transition: background-color .2s;
	background-color: var(--primary);
}

.primary-bg-hover:hover {
	transition: background-color .2s;
	background-color: var(--primary);
}

.primary-50-bg {
	background-color: var(--primary-50);
}

.secondary {
	color: var(--secondary);
}

.secondary-bg {
	background-color: var(--secondary);
}

.gray-shadow-hover:hover {
	transition: box-shadow .2s;
	box-shadow: 0 0 8px var(--gray);
}
