@import './elements/input.css';
@import './elements/button.css';
@import './elements/page-selector.css';

@import './colors.css';
@import './fonts.css';
@import './material-icons.css';

@import './sections/styles.css';
@import 'helpers/flex.css';


html {
	scroll-behavior: smooth;
}

body {
    margin: 0;
}

* {
	box-sizing: border-box;
}

h1, h2, p {
	margin: unset;
}

a {
	text-decoration: none;
	color: var(--on-primary);
}

header, section, footer {
	padding: 24px 96px;
}